.mui-scroll-wrapper{
	position: inherit;
	/*overflow: scroll;*/
}

/*头部箭头指向*/
.mui-pull-left{
	color: #FFFFFF;
	
}

/*热门课程视频播放内容页*/
.first_video{
	      position: relative;
	   /*   height: 180px;*/
      /*   overflow: hidden;*/
/*          background-color: #CCCCCC;
*/  
}
/*暂停按钮的样式*/
/*.first_video .vplay{
            position: absolute;
            width: 15%;
            z-index: 99;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

        }*/
          
/*.first_video .controls {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .55);
    display: -webkit-flex;
    display: flex;
   
}*/

/*.first_video .controls>* {
    flex: 1;
}

.first_video .controls>*:nth-child(1) {
    flex: 6;
}

.first_video .controls>*:nth-child(2) {
    flex: 2;
    text-align: center;
}*/

/*.first_video .controls .progressBar {
    margin: .75rem 5%;
    position: relative;
    width: 90%;
    height: .5rem;
    background-color: rgba(200, 200, 200, .55);
    border-radius: 10px;
}

.first_video .controls .timeBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(99, 110, 225, .85);
    border-radius: 10px;
}*/
/*视频的控制条*/
/*.controls{
	opacity: 1.0;
	margin-bottom:4px;
}*/

/*生鲜专栏等字体的大小*/
.mui-control-item{
	font-size:12px ;
	color: #5e5e5e;
}
/*生鲜专栏等的标题栏的背景颜色*/
#title_background{
	background-color: #FFFFFF;
	margin-top: 10px;
}
/*简介，ppt,考核栏目的间距和宽度*/
.mui-segmented-control.mui-scroll-wrapper .mui-control-item{
	padding:0 1rem;
	position: relative;
	background-repeat: no-repeat;
}
/*距离视频的高度*/
.mui-scroll-wrapper{
	/*top:-12px;*/
	top:-8px;
}
.mui-icon{
	font-size: 12px;
}
/*打赏*/
.reward{
	height:45px;
	
}

.mui-table-view .mui-grid-view .mui-table-view-cell>a:not(.mui-btn){
	margin: -1px 0 0 -25px;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item{
	padding: 0rem 2.8rem;
}
/*视频图片的大小*/
.mui-slider-group .mui-slider-item img{
	display: inline-block;
	height: 100%;
	width: 100%;
	
	
}
.retail_firDiV{
	color: #212121;
	font-size: 14px;
	margin-bottom:3px;
	margin-left: 5px;
}
.hot_course_firP{
	font-size: 12px;
	color: #7e7e7e;
}
/*章节列表*/
.retail_firTime{
	display: inline-block;
	font-size: 12px;
	margin-left: 5px;
}
/*章节列表*/
.retail_secTime{
	display: inline-block;
	margin-left: 15px;
	font-size: 12px;
}
.retail_flow{
	display: inline-block;
	margin-left: 16px;
	font-size: 12px;
}
