html,body{
	background-color: #fff;
}
/*搜索导航栏*/
#search_Bar{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    line-height: 1;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #2768B7;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 6px;
}
#search_Bar img{
	position: absolute;
    width: 30px;
    height: 30px;
    padding-top: 8px;
    padding-left: 8px;
}
#search_Bar input{
	margin-bottom: 0;
    flex: 5;
    padding-left: 40px;
    color: #8c8c8c;
    background-color: #F7F7F7;
    font-size: 14px;
}
.search_cancel{
	align-self: center;
    flex: 1;
    padding-left: 5px;
    color: #fff;
    text-align: center;
}
.search_button{
    align-self: center;
    flex: 1;
    background-color: #2768B7;
    text-align: center;
    color: #fff;
    height: 34px;
    line-height: 1;
	border: none;
    font-size: 17px;
    display: none;	
    padding-left: 3px;
    padding-right: 3px;
}
#retail_1{
	margin-top: 65px;
}
/*头部背景颜色*/
.mui-bar-nav{
	background-color: #2768B7;
}
/*头部箭头指向*/
.mui-pull-left{
	color: #FFFFFF;
}
/*头部零售实操样式*/
.mui-title{
	color: #FFFFFF;
	font-size: 14px;
}
/*生鲜专栏等字体的大小*/
.mui-control-item{
	font-size:12px ;
	color: #5e5e5e;
}
/*生鲜专栏等的标题栏的背景颜色*/
#title_background{
	background-color: #FFFFFF;
	margin-top: 10px;
}
/*第一行字体的大小和样式*/
.font-first-line{
	color: #161616;
	font-size: 14px;
	text-overflow: ellipsis; 
	overflow: hidden;
	white-space: nowrap;
}
/*第二行字体的大小*/
.font-second-line{
	font-size: 11.5px;
	color: #4e4e4e;
	margin-top: 4px;
}
/*图片小时钟的大小*/
.img-first-size{
    width: 12px;
    margin-bottom: 0px;
}
/*时间日期的字体大小*/
.font-third-size{
	display: inline-block;
	font-size: 9px;
	margin-left: 1px;
	vertical-align: top;
}
/*眼睛图片的大小*/
.img-second-size{
	width: 15px;
    margin-left: 10px;

}
/*21003的字体的大小*/
.font-fourth-size{
	display: inline;
	margin-left:1px;
	font-size: 10px;
}
/*生鲜专栏下的每个table-view框框*/
.mui-table-view-cell{
	padding: 9.5px 15px;
}
/**/
.mui-progressbar{
	height: 5px;
}
/*进度条的长度*/
.mui-segmented-control.mui-scroll-wrapper .mui-control-item{
	
	margin-right:35px;
	padding: 0px;	
}
.mui-segmented-control .mui-control-item{
	margin-top: 10px;
	line-height: 100%;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item{
	padding-bottom:3.2px
}
/*时间距离第二行的距离*/
.third_p{
	margin-top: 20px;
}
.mui-table-view:before{
	content: "";
	top: 0;
	height: 0;
}
.TimeStyle{
	position: absolute;
    bottom: 6px;
}
.mui-table-view-cell:after{
	content: "";
	left: 0;
}
/*课程价格*/
.class_price_out{
    position: absolute;
    color: #fff;
}
.class_price_out img{
	width: 74px;
    height: 67px;
}
.class_price{
    padding-left: 6px;
    padding-top: 4px;
    position: absolute;
    top: -57px;
    left: 0;	
}
.class_price_pre{
    position: absolute;
    top: 4px;
    font-size: 12px;
    text-decoration: line-through;
    padding-left: 4px;
}
.class_price_now{
    position: absolute;
    top: 23px;
    padding-left: 4px;	
}
.money_logo{
	font-size: 12px;
}